# Ignore appsettings
CommuteGoAPI/appsettings.json
CommuteGoAPI/appsettings.Development.json
# Ignore Angular build output
/frontend/dist/

# Ignore .NET build output
/CommuteGoAPI/bin/
/CommuteGoAPI/obj/

# Ignore Node modules
/frontend/node_modules/

# Ignore environment config files
*.env

# Ignore Visual Studio files
*.user
*.suo
.vscode/
